#loginWrap{
	width: 500px;
	margin: 100px auto;
	/*padding: 50px;*/
	background: #FFFFFF;
	box-shadow: 0 0 20px #999999;

}
#loginHeader{
	padding: 20px;
	background:#444444 url(../Images/index/logo_small.png) right top no-repeat;
}

	#loginform table{
		width: 80%;
		border-collapse: separate;
		margin: 20px auto;
		border-spacing: 20px;
	}
	td{
		text-align: right;
	}
	#loginform .input_text{
		padding: 5px 10px;
		border: 1px solid #2980B9;
		border-radius: 5px;
	}
	#loginform .input_text:focus{
		background: #feffef;
	}
