</div><!-- end of content_wrap -->

		<div id="footNav">
			<div id="footNav_wrap">
				<div id="siteSearch_footer">
					<form action="" method="get">
						<input class="searchText" type="text" value="Search"><input class="searchBtn" type="submit" value="Go">
					</form>
				</div>
				<div id="quickLinks_footer">
					<ul>
						<li><a href="">Foot Link 1</a> | </li>
						<li><a href="">Foot Link 2</a> | </li>
						<li><a href="">Foot Link 3</a></li>
					</ul>
				</div>
				<div id="leftContent_footer">
					<ul>
						<li><a href="">Link 1</a> | </li>
						<li><a href="">Link 2</a> | </li>
						<li><a href="">Link 3</a> | </li>
						<li><a href="">Link 4</a> | </li>
						<li><a href="">Link 5</a></li>
					</ul>
					<p>© Two Degrees Mobile Limited 2014. All rights reserved.</p>
				</div>
				<div class="clear"></div>
			</div>
		</div><!-- end of foot -->
	</div><!-- end of wrap -->