<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BetterLink</title>
	<link rel="icon" href="__PUBLIC__/Images/index/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="__PUBLIC__/Images/index/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/cssreset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/public.css">
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/public.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/jquery.slides.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<div class="topNav">
			<div class="topNav_wrap">
				<ul class="tabs">
					<li><a href="/ICT" class="selected">ICT</a></li>
					<li><a href="/webdesign">Web Disigning</a></li>
				</ul>
				<ul class="utility">
					<li><a href="">Cantacts</a></li>
					<li><a href="">Email</a></li>
					<li><a href="">Work for us</a></li>
				</ul>
			</div>
		</div><!-- end of topNav -->

		<div id="header">
			<div id="headerTop_navBackgroud"></div>
			<div id="header_wrap">
				<div id="regLogin">
					<p>
						<em>Your Betterlink,</em> <a href="__APP__/Introduction/introduction">What's this ?</a>
					</p>
					<a href="__APP__/RegisterLogin/login" id="loginBtn">Login</a>
					<a href="__APP__/RegisterLogin/register" id="regBtn">Sign in</a>
				</div>
				<h1 id="navLogo"><a href="__APP__/Index/index">BetterLink</a></h1>
				<div id="headerTop">
					<ul id="headerTop_nav">
					    <li><a href="__APP__/Introduction/introduction">Introduction</a>
					    	<ul>
					            <li><a href="__APP__/Introduction/introduction?id=1">公司简介</a></li>
					            <li><a href="__APP__/Introduction/introduction?id=2">公司动态</a></li>
					            <li><a href="__APP__/Introduction/introduction?id=3">News</a></li>
					        </ul>
					    </li>
					    <li><a href="__APP__/Communication/communication">Communication</a>
					    	<ul>
					            <li><a href="__APP__/Communication/communication?class=1">Wireless Enhancement</a>
					                <ul>
					                    <li><a href="__APP__/Communication/communication?class=1&id=1">DAS</a></li>
					                    <li><a href="__APP__/Communication/communication?class=1&id=2">BDA & Repeater</a></li>
					                    <li><a href="__APP__/Communication/communication?class=1&id=3">Microwave Transport System</a></li>
					                    <li><a href="__APP__/Communication/communication?class=1&id=4">基站延伸系统</a></li>
					                </ul>
					            </li>
					            <li><a href="__APP__/Communication/communication?class=2">Wireless Access</a>
					            	<ul>
					                    <li><a href="__APP__/Communication/communication?class=2&id=1">室内AP</a></li>
					                    <li><a href="__APP__/Communication/communication?class=2&id=2">室外AP</a></li>
					                    <li><a href="__APP__/Communication/communication?class=2&id=3">大功率AP</a></li>
					                    <li><a href="__APP__/Communication/communication?class=2&id=4">AC</a></li>
					                </ul>
					            </li>
					            <li><a href="__APP__/Communication/communication?class=3">femto系统</a>
					            	<ul>
					                    <li><a href="__APP__/Communication/communication?class=3&id=1">LTE Smallcell</a></li>
					                    <li><a href="__APP__/Communication/communication?class=3&id=2">GSM Smallcell</a></li>
					                    <li><a href="__APP__/Communication/communication?class=3&id=3">WCDMA Smallcell</a></li>
					                    <li><a href="__APP__/Communication/communication?class=3&id=4">专用无线通信</a></li>
					                </ul>
					            </li>
					            <li><a href="__APP__/Communication/communication?class=4">无线设备</a>
					            	<ul>
					                    <li><a href="__APP__/Communication/communication?class=4&id=1">室内天线</a></li>
					                    <li><a href="__APP__/Communication/communication?class=4&id=2">室外小功率天线</a></li>
					                    <li><a href="__APP__/Communication/communication?class=4&id=3">室外大功率天线</a></li>
					                    <li><a href="__APP__/Communication/communication?class=4&id=4">特种天线</a></li>
					                </ul>
					            </li>
					            <li><a href="__APP__/Communication/communication?class=5">无源器件</a>
					            	<ul>
					                    <li><a href="__APP__/Communication/communication?class=5&id=1">接头</a></li>
					                    <li><a href="__APP__/Communication/communication?class=5&id=2">功分器</a></li>
					                    <li><a href="__APP__/Communication/communication?class=5&id=3">耦合器</a></li>
					                    <li><a href="__APP__/Communication/communication?class=5&id=4">滤波器</a></li>
					                    <li><a href="__APP__/Communication/communication?class=5&id=5">衰减器</a></li>
					                    <li><a href="__APP__/Communication/communication?class=5&id=6">电缆</a></li>
					                </ul>
					            </li>
					        </ul>
					    </li>
					    <li><a href="__APP__/Solution/solution">Solution</a>
					        <ul>
					            <li><a href="__APP__/Solution/solution?id=1">无线优化解决方案</a></li>
					            <li><a href="__APP__/Solution/solution?id=2">femto解决方案</a></li>
					            <li><a href="__APP__/Solution/solution?id=3">WLAN解决方案</a></li>
					        </ul>
					    </li>
					    <li><a href="__APP__/OEM/oem">OEM</a>
					        <ul>
					            <li><a href="__APP__/OEM/oem?id=1">业务总览</a></li>
					            <li><a href="__APP__/OEM/oem?id=2">业务能力介绍</a></li>
					            <li><a href="__APP__/OEM/oem?id=3">技术支持与服务</a></li>
					        </ul>
					    </li>
					    <li><a href="__APP__/IT/it">IT</a>
					        <ul>
					            <li><a href="__APP__/IT/it?id=1">网络设备</a></li>
					            <li><a href="__APP__/IT/it?id=2">数码产品</a></li>
					            <li><a href="__APP__/IT/it?id=3">手机配套</a></li>
					        </ul>
					    </li>
					    <li><a href="__APP__/About/about">About</a>
					        <ul>
					            <li><a href="__APP__/About/about?id=1">关于我们</a></li>
					            <li><a href="__APP__/About/about?id=2">留言板</a></li>
					        </ul>
					    </li>
					</ul>
				</div>
				<div id="headerRight">
					<div id="siteSearch">
						<form action="" method="get">
							<input class="searchText" type="text" value="Search"><input class="searchBtn" type="submit" value="Go">
						</form>
					</div>
				</div>
			</div><!-- end of header_wrap -->
		</div><!-- end of header -->
		<div id="content_wrap">